#lista-butao{
    border-radius: 15px!important;
    border: 2px solid #C46FC0!important;
    background: rgba(196, 111, 192, 0.00)!important;
    color: #C46FC0 !important;
    width: 100%;
    height: 22%;
}
a {
    text-decoration: none;
    color:white; 
}
.espaco-branco{
    height: 16%;
}
.cabeca{
    height: 35%;
    display: flex;
}
.imagem-detalhe{
    flex:1;
}
.imagem-detalhe img{
    max-width: 100%;
    height: 100%; 
    display: block;
    margin-left: 15%;
    width: 75%; 
    
}
.texto-detalhe {
    flex: 2;
    padding-top: 20px;
    color: gray;
    display: block;
}

.texto-detalhe .title {
   
    font-size: 200%; 
    color: gray;
    margin: 0px;
    margin-top: 20px;
}

.texto-detalhe .list-owner {
    margin: 0;
    color: gray; 
}
.lista-embaixo {
    padding: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

thead {
    border-bottom: solid gray;
    padding: 8px; 
    text-align: center;
}
tbody{
    border: 5px;
    text-align: center;
}

.criar-trilha {
    text-decoration: underline; 
    color: gray; 
    border: none; 
    background: none; 
    cursor: pointer; 
}

.criar-trilha:hover {
    color: blue; 
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    width: 100%;
    max-width: 70%; 
    height: 90%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 20px; 
    padding: 20px;
    width: 100%;
    height: 100%;
}

.grid-item {
    padding: 20px;
}


.parte-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imagem {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}


.grid-itemparte-2{
    padding: 0px;
}
.parte-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.titulo {
    font-size: 24px;
    color: #888;
    margin-bottom: 10px;
}


.reguladores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regulador {
    width: 70%;
    margin-bottom: 10px;
}

.imagem{
    width: 100%;
    height: 100%;
}
.valor {
    font-size: 16px;
}