a {
    color: #4C3F6E;
}

.container-menu {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.menu-options {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0;
}

.menu-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 55px;
    background: #9D3F99;
    border-radius: 100px;
    cursor: pointer;
}

.list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    list-style: none;
    width: 80%;
    border-radius: 10px;
    background: #9D3F99
}

.list a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.list li:nth-child(1) {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.search-bar {
    display: flex;
    gap: 15px;
}

.search-bar input {
    flex-shrink: 0; 
    appearance: none;
	border: none;
	outline: none;
    width: 70%;
    height: 44px;
    flex-shrink: 0; 
    border-radius: 15px;
    background: rgba(131, 126, 126, 0.14); 
    padding-left: 30px;
    color: #837E7E;
}

.search-bar input:focus {
    border: 2px solid #a09696;
}

button{
    width: 126px;
    height: 44px;
    flex-shrink: 0; 
    border-radius: 15px;
    border: 2px solid #C46FC0;
    background: rgba(196, 111, 192, 0.00); 
    color: #C46FC0;
    font-weight: bolder;
    transition-duration: 1s;
    cursor: pointer;
}

.search-img img {
    width: 7%;
}

.menu-logo {
    display: flex;
    justify-content: end;
}

.text span {
    font-size: 32px;
}

.book-info {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    margin-top: 3rem;
}

.book-info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.book-info-text p:nth-child(1) {
    color: #383636;
}

.book-info-text p:nth-child(2) {
    color: #837E7E;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /
}

.book-info-seemore {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.book-names {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-name {
    color:  #383636;
}

.author {
    color: #837E7E;
}

.book-info-seemore button {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(131, 126, 126, 0.14);
    border: none;
    color: #837E7E
}

.container h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: x-large;
    color: #585858e8;
}

.trendings {
    display: grid;
    padding-left: 60px;
    grid-template-columns: repeat(5, 20%);
    margin-top: 1rem;
    background-color: #9D3F99;
}

.book-trending {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.book-trending img {
    width: 50%;
}

.book-name-trending {
    font-weight: bolder;
    color: white;
}

.author-trending {
    color: white;
}