body {
    display: flex;
    justify-content: end;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute
}

.container-menu {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: 40px 60px 
}

.menu-logo span {
    color: #4C3F6E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.menu-options {
    display: flex;
    gap: 20%;
    justify-content: center;
    color: #4C3F6E;
    list-style: none;
    font-weight: bold;
}

.menu-options li, .menu-logo span, .menu-button button {
    cursor: pointer;
}

.menu-options li:nth-child(2) {
    color: #837E7E;
    font-weight: lighter;
}

.menu-button {
    display: flex;
    justify-content: end;
}

.menu-button button{
    width: 126px;
    height: 44px;
    flex-shrink: 0; 
    border-radius: 15px;
    border: 2px solid #C46FC0;
    background: rgba(196, 111, 192, 0.00); 
    color: #C46FC0;
    font-weight: bolder;
    transition-duration: 1s;
}

.menu-button button:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid  #852f80;
    color:  #852f80;
}

.container-heading {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    margin: 20px 60px;
}

.text span {
    font-size: 52px;
}

.button button {
    margin-top: 2rem;
    width: 180px;
    height: 44px;
    flex-shrink: 0; 
    border-radius: 15px;
    background: #C46FC0; 
    border: none;
    color: #FFF;
    font-weight: bolder;
}

.foot {
    margin-top: 6rem;
}

.heading-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-image img {
    position: relative;
    width: 100%;
    margin-left: 160px;
    margin-top: 30px;
}

#shape {
    height: 80vh;
    width: 40vw;
    margin-top: 8.2rem;
}